<html layout:decorator="layout" th:inline="text">

<body layout:fragment="content">
<div class="panel panel-default">
    <div class="panel-heading">
        <strong><label th:text="#{title.cadastro.pessoas}"></label></strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th style="width: 90px !important;"><label th:text="#{label.acoes}"></label></th>
                    <th><label th:text="#{label.nome}"></label></th>
                    <th><label th:text="#{label.data.nascimento}"></label></th>
                    <th><label th:text="#{label.cpf}"></label></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pessoa : ${pessoas}">
                    <td style="width: 90px !important;">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-primary" th:href="@{/pessoas/{id}/update(id=${pessoa.id})}"
                               th:title="#{label.editar}">
                                <i class="glyphicon glyphicon-pencil icon-white"></i>
                            </a>
                            <a class="delete btn btn-sm btn-danger" th:href="@{/pessoas/{id}/delete(id=${pessoa.id})}"
                               th:title="#{label.excluir}">
                                <i class="glyphicon glyphicon-trash icon-white"></i>
                            </a>
                        </div>
                    </td>
                    <td th:text="${pessoa.nome}"></td>
                    <td th:text="${pessoa.dataNascimentoFormatada}"></td>
                    <td th:text="${pessoa.cpfFormatado}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a th:href="@{/pessoas/create}" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-plus"></span> [[#{label.adicionar}]]
        </a>
    </div>
</div>
</body>
</html>